<div class="index-section ">
    <div class="page-width">
      <div class="grid text-center">
        <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">
          
          
            <div class="rte">
                <div class="section-header" style="margin-bottom: 10px;">
                    <h2 class="section-header__title" style="margin-bottom: 0;">{{block.settings.title}}</h2>
                </div>
              <div class="enlarge-text">
                {% if block.settings.img != blank %}
                    {%- assign img_url = block.settings.img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    <img class="cus-st-img lazyload"
                        src="{{ img_url }}"
                        data-src="{{ img_url }}"
                        data-widths="[180, 360, 540]"
                        data-aspectratio="{{ block.settings.img.aspect_ratio }}"
                        data-sizes="auto"
                        alt="{{ block.settings.img.alt }}">
                {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              </div>
            </div>
          
        </div>
      </div>
    </div>
</div>


{% schema %}
{
    "name": "CS Image w/ title",
    "class": "custom-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Title"
      },
      {
        "type": "image_picker",
        "id": "img",
        "label": "Select image"
      }
    ],
   "presets": [
       {
           "category": "Custom Sections",
           "name":"CS Image w/ title"
       }
   ] 
  }
{% endschema %}